# Development environment keys
NODE_ENV="development"
ANALYZE="false"

# App environment keys
NEXT_PUBLIC_APP_ENV="development"
NEXT_PUBLIC_APP_TITLE="Next.js 15 CoE Setup"
NEXT_PUBLIC_APP_NAME="Next.js 15 CoE Setup"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_CATEGORY="Next.js Setup"
NEXT_PUBLIC_APP_DESCRIPTION="Next.js 15 CoE Setup"
NEXT_PUBLIC_APP_KEYWORDS="private setup, center of excellence, docs"

# GTM environment key
NEXT_PUBLIC_GTM_KEY=""

# Posthog analytics environment keys
POSTHOG_API_KEY=""
POSTHOG_ENV_ID=""
NEXT_PUBLIC_POSTHOG_KEY=""
NEXT_PUBLIC_POSTHOG_HOST=""
NEXT_PUBLIC_POSTHOG_INGEST="/ingest"
NEXT_PUBLIC_POSTHOG_ENVIRONMENT="development"

# Sentry authToken
SENTRY_AUTH_TOKEN=""

# Redis
REDIS_PASSWORD="coe-next-boilerplate"
REDIS_PORT="6379"

# Database

# Postgres
POSTGRES_DB="coe-next-boilerplate"
POSTGRES_USER="coe-next-boilerplate"
POSTGRES_PASSWORD="coe-next-boilerplate"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
# DB_DIALECT=postgresql
# DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# MySQL
MYSQL_DATABASE="coe-next-boilerplate"
MYSQL_ROOT_PASSWORD="coe-next-boilerplate"
MYSQL_USER="coe-next-boilerplate"
MYSQL_PASSWORD="coe-next-boilerplate"
MYSQL_HOST="localhost"
MYSQL_PORT="3306"
# DB_DIALECT=mysql
# DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${MYSQL_HOST}:${MYSQL_PORT}$/${MYSQL_DATABASE}

# SQLite
DB_DIALECT="sqlite"
DATABASE_URL="file:./create-next-coe.db"
